<div class="row">
    <div class="col-md-6">
        <h2><i class="fa fa-users text-info"></i> Clients</h2>
        
    </div>
    <div class="col-md-6">
        <h5 class="text-right text-danger">Total Owed : {{totalOwed | currency:"USD":"symbol"}}</h5>
    </div>
</div>
<p class="font-weight-light">Track clients who owe money</p>
<div class="table-responsive">
<table *ngIf="clients?.length > 0" class="table mt-3 justify-content-center">
    <thead class="thead-inverse">
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.date }}</td>
            <td>{{client.firstName}} {{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td>{{client.balance | currency:"USD":"symbol"}}</td>
            <td><a routerLink="client/{{client.id}}" class="btn btn-dark btn-sm"><i class="fas fa-info-circle"></i>   Details</a></td>
        </tr>
    </tbody>
</table>
</div>
<div *ngIf="clients?.length==0"><hr><h5>There are no clients</h5></div>
